
    body {
      background-color: #22313f;
      color: #e4f1fe;
      border-radius: 20px;
    }

    h1 {
      text-align: center;
    }

    h2 {
      text-align: center;
      border: 1px solid;
      line-height: 2.0;
      border-radius: 4px;
      margin: auto 10px;
      padding: 10px;
    }

    img {
      display: auto block;
      margin: 0 auto;
      padding: 20px;
      max-width: 95%;
      border-radius: 5%;
    }

    button {
      transition: all 200ms ease-in-out;
      border-radius: 20px;
      display: block;
      margin: 15px auto;
      background-color: #8dc6ff;
      padding: 10px 20px;
      font-size: 14px;
      color: #09203f;
      cursor: pointer;
      line-height: 2;
      box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);

    }

    button :hover {
      border: 2px solid transparent;
      color: #e4f1fe;
      transform: scale(1.05);
      will-change: transform;

    }

    .container {
      max-width: 700px;
      margin: auto;
      padding: 15px 60px;
      background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%);
      font-family: SerifGothic;
    }

    .hemp-introduction {

      font-size: medium;
      text-align: center;

    }

    .breed {
      margin: auto;
      padding: 10px 30px;
      line-height: 1.5;
      font-size: medium;
    }

    .old-hemp {
      color: #8dc6ff;
      margin-left: 30px;
      margin-top: auto;

    }



    .footer {
      padding-top: 15px;
      text-align: center;
      color: #8dc5ff;
    }

    .a {
     color-scheme: white;
    }